:root {
    background-color: #1f1f1f;
    
    --aspectratio: 1;
    --introblockheight: 20svh;
    --maincolour: #272727;
    --offset: 2;
}

#intro {
    position: fixed;
    top: 0px;
    left: 0px;
}

#cover {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100svh;
    /* background-color: #272727; */
}

.cover-item:not(.active-item, .new-item) {
    position: absolute;
    top: calc(25svh * (var(--position) + var(--offset) - 1) - (var(--introblockheight) / 2));
    left: 40vw;
    width: 20vw;
    height: var(--introblockheight);
    border-radius: 1.4vw;
    z-index: 40;
}

.active-item {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100svh;
    z-index: 1000;
    animation: intro 1s ease 1.5s forwards;
}

.anim-ended {
    position: absolute;
    top: calc(25svh * (var(--position) + var(--offset) - 1) - (var(--introblockheight) / 2));
    left: 40vw;
    width: 20vw;
    height: var(--introblockheight);
    border-radius: 1.4vw;
    z-index: 40;
}

.new-item {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100svh;
    z-index: 1000;
    transform: scale(0.2); 
    border-radius: 7vw;
    animation: intro 1s ease 0.5s forwards reverse;
}

@keyframes intro {
    0% {
        border-radius: 0px;
        transform: scale(1);
    }
    100% {
        border-radius: 7vw;
        transform: scale(0.2);
    }
}

@keyframes slide {
    
}