<!DOCTYPE html>
<head>
    {% load static %}

    <link rel="stylesheet" href="{% static 'home/css/index.css' %}">
</head>
<title>Ezra Schultz</title>
<html>
    <script src="{% static 'home/js/onload.js' %}"></script>
    <div class="maincontent">
        <div id="intro">
            <div id="cover">
                <!-- <p class="intro-text intro-line1">Hello, I'm</p>
                <p class="intro-text intro-line2">Ezra Schultz</p> -->
            </div>
        </div>
        <div id="images" class="content">
            <div id="rotatedimagesystem">
                <div id="l1" class="lines" style="--quantity: 3;">
                    <div id="image1-l1" class="l1-images line-images" style="--position: 1"></div>
                    <div id="image2-l1" class="l1-images line-images" style="--position: 2"></div>
                    <div id="image3-l1" class="l1-images line-images" style="--position: 3"></div>
                    <div id="r1-image-l1" class="l1-images line-images"></div>
                    <div id="r2-image-l1" class="l1-images line-images"></div>
                    <div id="r3-image-l1" class="l1-images line-images"></div>
                </div>
                <div id="l2" class="lines">
                    <div id="image1-l2" class="l2-images line-images" style="--position: 1"></div>
                    <div id="image2-l2" class="l2-images line-images" style="--position: 2"></div>
                    <div id="image3-l2" class="l2-images line-images" style="--position: 3"></div>
                    <div id="r1-image-l2" class="l2-images line-images"></div>
                    <div id="r2-image-l2" class="l2-images line-images"></div>
                    <div id="r3-image-l2" class="l2-images line-images"></div>
                </div>
                <div id="l3" class="lines">
                    <div id="image1-l3" class="l3-images line-images" style="--position: 1"></div>
                    <div id="image2-l3" class="l3-images line-images" style="--position: 2"></div>
                    <div id="image3-l3" class="l3-images line-images" style="--position: 3"></div>
                    <div id="r1-image-l3" class="l3-images line-images"></div>
                    <div id="r2-image-l3" class="l3-images line-images"></div>
                    <div id="r3-image-l3" class="l3-images line-images"></div>
                </div>
            </div>
        </div>
        <div id="name" class="content">
            <p id="namecard">EZRA SCHULTZ</p>
        </div>
        <div id="links" class="content"></div>
        
    </div>
</html>