<!DOCTYPE html>
<head>
    {% load static %}

    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
</head>
<title>Ezra Schultz</title>
<html>
    <script src="{% static 'home/js/index.js' %}"></script>
    <body>
        <div id="intro">
            <div id="cover" style="--cover-rotations: 2;">
                <div class="cover-item id-1" id="intro-cover" style="background-color: #272727; --position: 1;"></div>
                <div class="cover-item id-2" id="home-cover" style="background-color: #ffd632; --position: 2;"></div>
                <div class="cover-item id-3" id="profile-cover" style="background-color: #eb5146; --position: 3;"></div>
                <div class="cover-item id-4" id="projects-cover" style="background-color: #f9f8c8; --position: 4;"></div>
                <div class="cover-item id-5" id="contact-cover" style="background-color: #47db39; --position: 5;"></div>
            </div>
        </div>
    </body>
</html>